body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1088px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1088px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1664px;
  height:964px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(51, 51, 51, 0.349019607843137), 0px 0px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 0px rgba(51, 51, 51, 0.349019607843137), 0px 0px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 0px rgba(51, 51, 51, 0.349019607843137), 0px 0px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:110px;
  width:1664px;
  height:964px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:919px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:110px;
  width:1655px;
  height:919px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:124px;
  width:299px;
  height:43px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:125px;
  width:179px;
  height:35px;
}
#u185_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u185_input:disabled {
  color:grayText;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:1618px;
  top:124px;
  width:77px;
  height:40px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:1705px;
  top:124px;
  width:171px;
  height:40px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
